<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="home-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <a class="navbar-brand" href="#">Impact Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/impacts' ? 'active':''}"
                       href="/impacts">My Impact</a>
                    <a class="nav-item nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/commitments' ? 'active':''}"
                       href="/commitments">Commitments</a>
                    <a class="nav-item nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
                       href="/login">Log in</a>
                    <a class="nav-item nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}"
                       href="/registration">Create an account</a>

                </div>
            </div>
        </nav>
    </div>
</head>
<body></body>
</html>
<body>



