<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head>
    //head section is not for the content of the web, is for includes, metatags and so on. This div home-navbar should be in the body
    (In this case since it is a fragment doesnt matter because only the fragment will be included and the rest of the page will be ignored, but its a good practice)
    <div th:fragment="home-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <a class="navbar-brand" href="/">Impact Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link"
                       //it is a good practice that the URLS like /impacts are never hardcoded,
                    instead you should create a constant and use it across the whole app. For HTMLs and Java code.
                    (if you want to change the URL you will only have to change one place)
                       th:classappend="${#httpServletRequest.getRequestURI() == '/impacts' ? 'active':''}"
                       href="/impacts">My Impact</a>
                    <a class="nav-item nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/commitments' ? 'active':''}"
                       href="/commitments">Commitments</a>
                    <a class="nav-item nav-link"
                       sec:authorize="isAnonymous()"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}"
                       href="/login" th:href="@{/login}">Log in</a>
                    <a class="nav-item nav-link"
                       sec:authorize="isAuthenticated()"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/logout' ? 'active':''}"
                       href="/logout">Log Out</a>
                </div>
            </div>
        </nav>
    </div>
</head>
<body></body>
</html>
<body>



