
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700
}

.form-class {
    padding: 25px;
    margin: auto;
}

.top-padding {
    padding-top: 35px;
}

.header-padding {
    padding: 35px;
}

.top-margin {
    margin-top: 35px;
}

.body {
    font-family: Arial;
    padding: 20px;
    background: #ffffff;
}

.impact-card {
    background-color: steelblue;
    padding: 20px;
    margin-top: 20px;
    background-position: center;
    height: 250px;
}

.impact-card h2 {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-shadow: black 2px 2px;
}

.impact-card p {
    font-size: 18pt;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-shadow: black 2px 2px;
}

.impact-card a {
    color: #eeeeee;
}

.login body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.login h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700
}

.create-account {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.error-bg {
    background: #ffbaba;
    color: #9c0911;
    font-size: small;
    padding: 10px;
}

.success-bg {
    background: #a2d4ab;
    font-size: small;
    padding: 10px;
}

.login-button {
    border-color: #343a40;
}

.plain-links a {
    text-decoration: none;
}

.totals {
    position: relative;
    background-color: steelblue;
    background: url(../img/bg-masthead.jpg) no-repeat center center;
    padding-top: 4rem;
    padding-bottom: 4rem
}

.totals .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .4
}

.totals h1 {
    font-size: 2rem
}

.large-nav-link {
    font-size: large;
}