.form-class {
    padding: 25px;
    margin: auto;
}

.top-padding {
    padding-top: 35px;
}

.header-padding {
    padding: 35px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.body {
    font-family: Arial;
    padding: 20px;
    background: #ffffff;
}

.impact-text {
    font-size: 18pt;
}