<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container col-sm-8 ">
    <h2 class="header-padding">You just added the following commitment:</h2>
    <table class="table table-striped col">
        <thead>
        <tr>
            <th>Commitment</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${savedCommitment.commitment}"></td>
            <td th:text="${savedCommitment.startDate}"></td>
            <td th:text="${savedCommitment.endDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>