<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>

<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"/>
<div class="col-lg-12 top-padding">
    <div class="container col-lg-10 col-sm-10 card">
        <h2 class="header-padding" style="text-align: center">Your commitments</h2>
        <table class="table table-striped col">
            <thead>
            <th>Commitment</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Delete</th>
            <th>Update</th>
            </thead>
            <tr th:each="commitment : ${commitmentlist}">
                <td th:text="${commitment.commitment}"></td>
                <td th:text="${commitment.startDate}"></td>
                <td th:text="${commitment.endDate}"></td>

                <td>
                    <a th:href="@{/deletecommitment(id=${commitment.id})}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a th:href="@{'/updatecommitment/' + ${commitment.id}}" class="btn btn-primary">Update</a>
                </td>
            </tr>
        </table>
        <div class="form-row text-center">
            <div class="col-12" style="padding-bottom: 25px">
                <a href="/addcommitment" class="btn btn-primary text-center col-4">Add new commitment</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

