<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>

<body>
<div th:replace="fragments/impact-navbar :: impact-navbar"/>
<div class="body">
    <div class="container col-sm-10">
        <h2>Your commitments</h2>
        <table class="table table-striped col">
            <thead>
            <th>Commitment</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Delete</th>
            <th>Update</th>
            </thead>
            <tr th:each="commitment : ${commitmentlist}">
                <td th:text="${commitment.commitment}"></td>
                <td th:text="${commitment.startDate}"></td>
                <td th:text="${commitment.endDate}"></td>

                <td>
                    <a th:href="@{/deletecommitment(id=${commitment.id})}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a th:href="@{'/updatecommitment/' + ${commitment.id}}" class="btn btn-primary">Update</a>
                </td>
            </tr>
        </table>
        <div class="form-row text-center">
            <div class="col-12">
                <a href="/addcommitment" class="btn btn-primary text-center col-4">Add new commitment</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>