<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>
<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container col-sm-8 top-padding text-center">
    <img class="top-padding" src="/img/error.png" style="width: 100px">
    <h1 class="top-padding ">Something went wrong!</h1>
    <h3 class="top-padding">Our engineers are working on fixing this.</h3>
    <h4 ><a href="/">Click here to return to the homepage</a></h4>
</div>
</body>
</html>