<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/home-navbar :: home-navbar"/>
<div class="body">
<h1>Discover how even small actions can have an impact.</h1>
    <img class="irc_mi" src="/img/veggies.jpg" alt="Image result for vegetables and fruits" width="530" height="353" style="margin-top: 0px;"/>
    <img class="irc_mi" src="/img/bike.jpg" alt="Image result for bicycle rider" width="530" height="353" style="margin-top: 0px;"/>
    <img class="irc_mi" src="/img/cow-yellow-tag.jpg" alt="Image result for cows" width="530" height="353" style="margin-bottom: 0px;"/>
    <img class="irc_mi" src="/img/Ford-Torino-GT.jpg" alt="Image result for muscle car" width="530" height="353" style="margin-bottom: 0px;"/>
</div>
</body>
</html>