<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/masthead.css" rel="stylesheet">
    <link rel="stylesheet" href="webjars/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <script src="/webjars/chartjs/2.7.3/Chart.bundle.min.js"></script>
    <script src="/js/countUp.js"></script>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
            <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-cloud fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading"><div id="co2total">0</div> tons of CO<sub>2</sub> saved</h4>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var c = new CountUp("co2total",0,/*[[${co2stats}]]*/0,2);
                    c.start();
                    /*]]>*/
                </script>
            </div>
            <div class="col-md-6">
            <span class="fa-stack fa-5x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-tint fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading"><div id="watertotal">0</div> gallons of water saved!</h4>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var c = new CountUp("watertotal",0,/*[[${waterstats}]]*/0);
                    c.start();
                    /*]]>*/
                </script>
            </div>
        </div>
    </div>
</header>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="showcase-text mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <h3>Keep track of how you have made a difference below!</h3>
                   </div>
            </div>
        </div>
    </div>
</section>
<section class="features-icons bg-light text-center" style="background-image: url('/img/co2-card-background.jpg'); height: 250px ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="showcase-text mx-auto mb-5 mb-lg-0 mb-lg-3 text-white">
                    <h3>CO<sub>2</sub> Emissions</h3>
                 </div>
            </div>
        </div>
    </div>
</section>

<div class="container bg-white col-md-8">
    <canvas id="co2canvas" width="200" height="100"></canvas>
    <script th:inline="javascript">
        var timeFormat = 'YYYY-MM-DD';

        var configco2 = {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: "Tons of CO2 saved",
                            lineTension: 0,
                            data: [
                                /*<![CDATA[*/

                                /*[# th:each="co2chartpoint : ${co2chartpoints}"]*/
                                {
                                    label: "willy",
                                    x: /*[[${co2chartpoint.x}]]*/ 0,
                                    y: /*[[${co2chartpoint.y}]]*/ 0
                                },
                                /*[/]*/
                                /*]]>*/

                            ]
                            ,
                            fill: false,
                            borderColor:
                                'rgba(0, 123, 255,1)'
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title:
                        {
                            display: true,
                            text:
                                "Tons of CO2 saved over time"
                        }
                    ,
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                format: timeFormat,
                                tooltipFormat: 'll'
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            }
                        }],
                        yAxes:
                            [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Tons of CO2'
                                }
                            }]
                    }
                }
            }
        ;
    </script>
</div>
<section class="features-icons bg-light text-center" style="background-image: url('/img/water-card-background.jpg'); height: 250px ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="showcase-text mx-auto mb-5 mb-lg-0 mb-lg-3 text-white">
                    <h3>Water Usage</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container bg-white col-md-8">
    <canvas id="watercanvas" width="200" height="100"></canvas>
    <script th:inline="javascript">
        var timeFormat = 'YYYY-MM-DD';

        var configwater = {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: "Gallons of water saved",
                            lineTension: 0,
                            data: [
                                /*<![CDATA[*/

                                /*[# th:each="waterchartpoint : ${waterchartpoints}"]*/
                                {
                                    label: "willy",
                                    x: /*[[${waterchartpoint.x}]]*/ 0,
                                    y: /*[[${waterchartpoint.y}]]*/ 0
                                },
                                /*[/]*/
                                /*]]>*/

                            ]
                            ,
                            fill: false,
                            borderColor:
                                'rgba(0, 123, 255,1)'
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title:
                        {
                            display: true,
                            text:
                                "Gallons of water saved over time"
                        }
                    ,
                    scales: {
                        xAxes: [{
                            type: "time",
                            time: {
                                format: timeFormat,
                                tooltipFormat: 'll'
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Date'
                            }
                        }],
                        yAxes:
                            [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Gallons of Water'
                                }
                            }]
                    }
                }
            }
        ;
        window.onload = function () {
            var ctxco2 = document.getElementById("co2canvas").getContext("2d");
            window.myLine = new Chart(ctxco2, configco2);
            var ctxwater = document.getElementById("watercanvas").getContext("2d");
            window.myLine = new Chart(ctxwater, configwater);
        };
    </script>
</div>
</body>
</html>