<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>

    <div th:replace="fragments/header :: header"></div>

</head>
<body>

<div th:replace="fragments/home-navbar :: home-navbar"/>

<div class="container">
    <div class="row">
        <div class="container col-sm-4">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type='text' name='username' value=''></td>
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="validation-message"></label>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password'/></td>
                        <label
                                th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="validation-message"></label>

                    </tr>
                    <tr>
                        <td><input name="submit" type="submit" value="submit"/></td>
                    </tr>
                </table>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

</body>
</html>