<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/impact-navbar :: impact-navbar"/>
<div class="container col-sm-4">
    <h3 class="header-padding">Update this commitment</h3>
    <form action="#" th:action="@{'/updatecommitment/' + ${commitment.id}}"  th:object="${commitment}" method="post">
        <div class="form-group row">
            <label for="reduction" class="col-sm-5 col-form-label">Updating commitment</label>
            <div class="col-sm-7">
                <select class="form-control form-control-md " id="reduction" th:field="*{reductionId}">
                    <option value="1">Veganism</option>
                    <option value="2">Vegetarianism</option>
                    <option value="3">Not driving</option>
                    <option value="4">Not using palm oil</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="startdate" class="col-sm-5 col-form-label">from</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" id="startdate" placeholder="Date" th:field="*{startDate}">
            </div>
        </div>
        <div class="form-group row">
            <label for="enddate" class="col-sm-5 col-form-label">until</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" id="enddate" placeholder="Date" th:field="*{endDate}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>